@model ModelEmpleadosOficio

<h1 style="color:darkred"> Paginación en grupo EMPLEADOS POR OFICIO</h1>
<hr />

<form method="post">
    <label>Introduzca Oficio</label>
    <input type="text" name="oficio" class="form-control" />
    <button class="btn btn-warning">Buscar Empleados</button>
</form>


@{
    int numPagina = 1;
    int numRegistros = 0;
    string oficio = "";

    if (ViewData["NUMREGISTRO"] != null)
    {
        numRegistros = (int)ViewData["NUMREGISTRO"];
        oficio = ViewData["OFICIO"].ToString();
    }


    <ul class="list-group list-group-horizontal">
        @for (int i = 1; i <= numRegistros; i += 3)
        {
            <li class="list-group-item">
                <a asp-controller="Paginacion" asp-action="GrupoEmpleadosOficiosOut"
                   asp-route-posicion="@i" asp-route-oficio="@oficio">
                    @numPagina
                </a>
            </li>

            numPagina++;
        }
    </ul>
}




@if (Model != null)//HAY QUE CONTROLARLO POR EL MODEL EN GENERAL,NO SOLO POR Model.empleados
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>EMP_NO</th>
                <th>APELLIDO</th>
                <th>OFICIO</th>
                <th>SALARIO</th>
                <th>DEPT_NO</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Empleado emp in Model.Empleados)
            {
                <tr>
                    <td>@emp.IdEmpleado </td>
                    <td>@emp.Apellido </td>
                    <td> @emp.Oficio </td>
                    <td> @emp.Salario </td>
                    <td>@emp.IdDepartamento</td>
                </tr>
            }

        </tbody>
    </table>
}
else
{
    <h2>NO SE CARGAN LOS empleados OFICIO OUT</h2>
}